<nav class="col-1">
  <img src="/piggy-bank.svg" id="piggybank">
  <ul>
    <% if @account_id %>
      <li class="centered">
        <% if @name %>
          <%= @name %>
        <% else %>
          <a href="/">Login</a>
          <% end %>
      </li>
      <li><a href="/<%=@account_id%>/transactions" style="
text-decoration: none">Transactions</a></li>
      <li><a href="/<%=@account_id%>/transactions/new" style="
text-decoration: none">Add entry</a></li>
      <li><a href="/merchants" style="
text-decoration: none">Merchants</a></li>
      <li><a href="/tags" style="
text-decoration: none">Categories</a></li>
      <li><a href="/<%=@account_id%>/users/show" style="
text-decoration: none">Account settings</a> </li>
    <% else %>
      <li> <a href="/" style="
text-decoration: none">Login</a> </li>
      <li><a href="/transactions" style="
text-decoration: none">All transactions</a></li>
      <li><a href="/merchants" style="
text-decoration: none">Merchants</a></li>
      <li><a href="/tags" style="
text-decoration: none">Categories</a></li>
    <% end %>
  </ul>
</nav>
