
<h2>Merchants</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><%= merchant.name %></a></td>
  </tr>
  <% end %>
</table>

<button class="button" type="button" name="button"><a href="/merchant/new" style="text-decoration:none;">Add new merchant</a></button>
