<h2>New Merchant</h2>

<form action="/merchants" method="POST">
  <label for="merchant_input">Name</label>
  <input id="merchant_input" type="text" name="name" required>
<input type="submit" class="button" value="Save"/>


<table>
  <tr>
    <th>Merchants</th>
  </tr>

<% for merchant in @merchants%>
   <tr>
     <td><%= merchant.name %></td>
   </tr>
<% end %>
</table>
