<h2>Welcome to Piggybank</h2>

<h3>"Login" or create a <a href="/users/new" style="
text-decoration: none">new user</a>.</h3>

  <table>
    <tr>
      <th>Name</th>
      <th>Budget</th>
    </tr>
      <% for user in @users %>
      
        <tr>
          <td>
            <a href="/<%=user.id%>/transactions" style="
text-decoration: none"><%=user.name%></a>
          </td>
          <td style="white-space:nowrap;">
            <progress class="budget" max="100" value="<%= user.budget_percent %>">
            </progress>
            <p><%= user.budget_percent.round() %>% spent</p>
          </td>
        </tr>
    <% end %>
  </table>
