<% if params['error'] %>
  <%= erb(:'error/no_user') %>
<% end %>

  <form class="" action="/sessions" method="post">
    <input type="text" name="name" value="username">
    <br>
    <input type="password" name="password" value="password">
    <br>

    <input type="submit" name="" value="login">
    <p class="message">Not registered? <a href="/registrations/signup">Create an account</a></p>
  </form>
