<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frugal</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="/transactions">Balance sheet</a>
      <a href="/transactions/new">Add entry</a>
      <a href="/merchants">List where I spend my money</a>
      <a href="/merchants/new">Add new merchant</a>
      <a href="/tags">See all tags</a>
      <a href="/tags/new">Add new tag</a>
    </nav>
    <%= yield %>
  </body>
</html>
