<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Piggybank</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Fjalla+One" rel="stylesheet">
  </head>
  <body>
    <%= erb(:'partials/nav') %>
    <div class="col-2">
      <header>
        <% if @name %> <%= @name %>'s PiggyBank £<%= sprintf('%.2f', @user.budget_left)%> left
        <% else %>
          PiggyBank
        <% end %>

      </header>
      <main class="content">
        <article>
          <%= yield %>
        </article>
      </main>
    </body>
</html>
