<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frugal</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id = "container">
    <header>
        <h1>Frugal</h1>
    </header>
    <div id = "contents">
      <nav>
        <ul>
          <li><a href="/transactions">See all transactions</a></li>

          <li><a href="/transactions/new">Add entry</a></li>
          <li><a href="/merchants">List where I spend my money</a></li>
          <li><a href="/merchants/new">Add new merchant</a></li>
          <li><a href="/tags">See all tags</a></li>
          <li><a href="/tags/new">Add new tag</a></li>
        </ul>
      </nav>
      <main>
    <%= yield %>
  </main>
  </div>
  </div>
  </body>
</html>
