<form class="" action="/sessions" method="post">
  <label for="user_name">username</label>
  <input type="text" name="name" value="" id="user_input">
  <br>

  <label for="user_name">password</label>
  <input type="text" name="password" value="" id="user_input">
  <br>

  <input type="submit" name="" value="Save">
</form>
