#piggybank {
  height: 30%;
  width: 100%;
}

header {
  background-color: #CAE9EC;
  padding: 1em;
}

col-2, article {
  background-color: #E0E0E0;
}


/*** Flexbox layout from online **/

* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background: #FFB6C1;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }



  ul {
  list-style-type: none;
}



/*** Table Styles **/



th {

  font-size:23px;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}


tr {
  border-top: 1px solid #C1C3D1;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;

}
/* 
td {
  background:#FFFFFF;
  padding:20px;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
} */
