
<h1>Categories</h1>
<a href="/Categorys/show_totals" style="
text-decoration: none">See how much is spent in each category</a>
<ul>
  <% for Category in @Categorys %>
  <li><%= Category.name %></li>

  <% end %>

  <a href="/Categorys/new" style="
text-decoration: none">Create a new Category</a>
</ul>
