
<h1>Tags</h1>
<a href="<%= erb(:'transactions/shared/table') %>"></a>
<table>
  <tr>
    <th>Name</th>
    <th>Total Spent</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></a></td>
    <i class="fa fa-plane" aria-hidden="true"></i>

    <td><%= Transaction.total_spent_by_tag(tag) %></td>

  </tr>
  <% end %>
