<h2>New Category</h2>

<form action="/Categorys" method="POST">
  <label for="Category_input">Name</label>
  <input id="Category_input" type="text" name="name" required>
<input type="submit" class="button" value="Save"/>


<table>
  <tr>
    <th>Categorys</th>
  </tr>

<% for Category in @Categorys%>
   <tr>
     <td><%= Category.name %></td>
   </tr>
<% end %>
</table>
