
<h1>Categories</h1>

<h2>Most was spent on <%=Tag.get_name_by_id(Tag.most_spent_on())%></h2>


<table>
  <tr>
    <th>Name</th>
    <th>Total Spent</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></a></td>
    <td><%= Tag.total_spent_by_tag(tag) %></td>

  </tr>
  <% end %>
