
<h2>On average, most was spent on <%=Tag.get_name_by_id(Tag.most_spent_on())%></h2>


<table>
  <tr>
    <th>Category</th>
    <th>Total Spent</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></a></td>
    <td><%= Tag.total_spent_by_tag(tag) %></td>

  </tr>
  <% end %>
