
<h2>On average, most was spent on <%=Category.get_name_by_id(Category.most_spent_on())%></h2>


<table>
  <tr>
    <th>Category</th>
    <th>Total Spent</th>
  </tr>
  <% for Category in @Categorys %>
  <tr>
    <td><%= Category.name %></a></td>
    <td><%= Category.total_spent_by_Category(Category) %></td>

  </tr>
  <% end %>
