
<% if params['error'] %>
<%= erb(:'error/no_user') %>
<% end %>
<form class="" action="/registrations" method="post">
  <label for="user_name">username</label>
  <input type="text" name="name" value="" id="user_input">
  <br>

  <label for="user_name">password</label>
  <input type="text" name="password" value="" id="user_input">
  <br>
 <label for="budget_limit">annual income?</label>
 <input type="number" name="annual_income" step="any" min="0" value="" id="budget_input">
 <br>

  <input type="submit" name="" value="Save">
</form>
