<a href="/<%=@user.id%>/users/edit" style="
text-decoration: none">Edit</a>


<p><%= @user.name %>
  <%= @user.budget_limit %>

<form method="post" action="/<%=@user.id%>/users/delete">
  <input type="submit" value="Delete"/>
</form>

<a href="/" style="
text-decoration: none">Logout</a>
