<a href="/users/<%=@user.id%>/edit">Edit</a>


<p><%= @user.name %>
  <%= @user.budget_limit %>

<form method="post" action="/<%=@user_id%>/users/delete">
  <input type="submit" value="Delete"/>
</form>
