<a href="/<%=@user.id%>/users/edit">Edit</a>


<p><%= @user.name %>
  <%= @user.budget_limit %>

<form method="post" action="/<%=@user.id%>/users/delete">
  <input type="submit" value="Delete"/>
</form>

<a href="/">Logout</a>
