


<h4>Your name is <%= @user.name %> and you earn  <%= @user.annual_income %>
a year</h4>

<a href="/<%=@user.id%>/users/edit" style="
text-decoration: none">Not right?</a>
<form method="post" action="/<%=@user.id%>/users/delete">
  <input type="submit" value="Delete"/>
</form>

<a href="/" style="
text-decoration: none">Logout</a>
