


<h4>Your name is <%= @user.name %> and you earn <%= sprintf('£%.2f', @user.annual_income) %>
a year</h4>

<a href="/users/edit" style="
text-decoration: none">Not right?</a>
<form method="post" action="/users/delete">
  <input type="submit" value="Delete"/>
</form>
