
<form class="" action="/<%=@account_id%>/transactions" method="post">
  <label for="description_input">Description</label>
  <input type="text" name="name" value="" id="description_input">
  <br>

 <label for="value_input">How much?</label>
 <input type="number" name="value" step="any" min="0" value="" id="value_input">
 <br>

 <label for="date_field">Transaction date</label>
 <input id="transaction_date" name="transaction_date" type="date">

</br>
 <label for="merchant_description">Merchant</label>
 <input type="text" id="merchant_description" name="merchant" value="">
<br>

<label for="category_select">Category</label>
 <select name="category_id" id="category_select">
   <% @categories.each do |category| %>
  <option value="<%= category.id %>"><%= category.name %></option>
  <% end %>
 </select>
 <br>
  <input type="submit" name="" value="Save">
</form>
