
<!-- <h2>On average, you was spent on <%=Tag.get_name_by_id(Tag.most_spent_on())%></h2>
 -->

<table>
  <h2>How much you spent in each category in <%=Date::MONTHNAMES[@month.to_i]%></h2>
  <tr>
    <th>Category</th>
    <th>Total Spent</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></a></td>
    <td><%= @user.tag_sums_for_month(tag.id, @month) %></td>

  </tr>
  <% end %>
</table>
